<form action="message/new" method="post" class="">
  <div class="">
    <label for="name"></label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="">
    <input type="submit" value="Subscribe!">
  </div>
</form>