<link rel="stylesheet" href="./stylesheets/about-us">

<div class="about-us-landing">
<div class="left-section">
<p id="header">
  About us
</p>
<p id="about-us-text">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida, neque ac consequat mattis, odio nisi fringilla libero, ut sollicitudin lectus lacus aliquet quam.
</p>
</div>
<div class="right-section">
  <%= image_tag("clipart", alt: "clip-art") %>
</div>
</div>