<link rel="stylesheet" href="./stylesheets/about-us">

<div class="about-us-landing">
  <div class="left-section">
    <p id="header">
      About us
    </p>
    <p id="about-us-text">
      Home Grown Local is putting money back into the pockets of everyday Australians rather than corporate conglomerates.
    </p>
    <br>
    <p id="about-us-text">
      Our vision is to bring Australian communities greater ability to buy fresh, local and organic produce, bringing people towards a healthy lifestyle.
    </p>
    <br>
    <p id="about-us-text">
     Our mission is for every city in Australia to be able to buy fresh produce grown in their own city.
    </p>
    
  </div>
  <div class="right-section">
    <%= image_tag("clipart", alt: "clip-art") %>
  </div>
</div>
<div class="faqs">
  <div class="left-q" id="q1">
    <p class="q-heading">Additional Charges?</p>
    <p class="q-answer">
      Nope! We are here to help Australian communities attain a healthier, more holistic lifestyle, we don’t charge for that.
    </p>
  </div>
  <div class="right-q" id="q2">
    <p class="q-heading">How to use <br> the site ?</p>
    <p class="q-answer">
      - Use the search bar
      <br>
      - Specify the product
      <br>
      - Find the product you want
      <br>
      - Message the seller
    </p>
  </div>
  <p> FAQ </p>
  <div class="left-q" id="q3">
    <p class="q-heading">Why <br> Sign-up?</p>
    <p class="q-answer">
      If you want to purchase an item, post an item for sale or save an item to your watch list, you will need to sign up
    </p>
  </div>
  <div class="right-q" id="q4">
    <p class="q-heading">Why <br> Donate?</p>
    <p class="q-answer">
      The donation money goes towards improving our application for our users. <br> Shout out to all of our community that has sent us donations.<br> Thank you  🙏
    </p>
  </div>
</div>