<link rel="stylesheet" href="./stylesheets/disclaimer">

<h3>Legal Disclaimer</h3>
<div class="disclaimer-text">
  <p>
    Home Grown Local is not responsible and has zero liability for the actions of its users, conduct on and off the site, transactions through the site, and/or any other activity that relates to the site in any manner.
  </p>
</div>