<div class="welcome">
  <div class="booke-image">
    <div id="searchbar">
      <div id="search-container">
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="./stylesheets/welcome">
</div>