@import 'variables';
@import 'mixins';

footer{
  margin-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.upper-section{
  background-color: $darkgreen;
  width: 100vw;
  height: 10vh;
}
.bottom-section {
  @include leftrightpaddingvar(20vw);
  background-color: $formblack;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 10vh;
  img {
    padding-left: 2vw;
    height: 4vh;
    width: 4vh;
  }
}