@import 'variables';
@import 'mixins';

h2 {
  @include leftrightmargin();
  @include topdownmargin();
  @include montserrat();
  font-weight: 600;
  color: $darkgreen;
  font-size: 64px;
}

.form {
  @include leftrightmarginvar(25vw);
  padding: 5vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  border-radius: 5px;
  padding: 2.5vh;
  background-color: $formblack;
  textarea{
    @include leftrightmarginvar(8vw);
    resize: none;
    width: 30vw;
    height: 15vh;
    font-size: 1.5vw;
    padding: 1vh;
  }
  label {
    @include topdownmarginvar(2.5vh);
    @include leftrightmarginvar(3vw);
    @include montserrat();
    font-size: 2vw;
    color: $offwhite1;
  }
  input {
    @include leftrightmarginvar(8vw);
    display: flex;
    justify-content: center;
    padding: 1vh;
    font-size: 1.5vw;
    width: 30vw;
    height: 5vh;
  }
  select {
    @include leftrightmarginvar(8vw);
    font-size: 1.5vw;
    height: 7vh;
    width: 20vw;
  }
  .actions{
    @include topdownmarginvar(2.5vh);
    display: flex;
    justify-content: center;
    input {
      @include montserrat();
      background-color: $darkgreen;
      color: $offwhite1;
      border-style: none;
      height: 10vh;
      width: 30vw;
      font-size: 2vw;
      font-weight: 600;
      border-radius: 0.1vw;
      border-style: solid;
      border-width: 0.1vw;
      border-color: $darkgreen;
      &:hover{
        background-color: $formblack;
        color: $offwhite1;
        transition: all 0.5s;
      }
    }
  }
  a {
    @include montserrat();
    font-size: 1.5vw;
    color: $offwhite2;
    text-decoration: none;
    padding: 1vh;
    &:hover{
      background-color: $formblack;
      color: $accentyellow;
    }
    &:visited{
      color: $offwhite2;
    }
    &:visited:hover{
      color: $accentyellow;
    }
  }
  em {
    display: none;
  }
  #item_image{
    color: $primarygreen;
  }
}