@import 'variables';
@import 'mixins';

#item-grid {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 60vw;
  height: auto;
  @include leftrightmargin();
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 35vh;
  .item {
    border-radius: 5px;
    height: 25vh;
    width: 18vw;
    margin: 1vw;
    background-color: $offwhite2;
    &:hover{
      transform: scale(1.1);
      transition: all 0.5s;
    }
    p {
      @include overpass();
      margin-top: 1vh;
      margin-left: 0.3vw;
      margin-right: 0.3vw;
      color: $formblack;
      font-size: 1vw;
      line-height: 1vh;
    }
    .item-text{
      position: relative;
      bottom: 5vh;
    }
    .item-image {
      display: flex;
      flex-direction: row;
      height: 20vh;
      background-color: $offwhite1;
      img {
        width: 100%;
        object-fit: cover;
        height: inherit;
      }
      a{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $offwhite1;
        &:visited{
          background-color: $offwhite1;
        }
      }
    }
    .item-price{
      position: relative;
      bottom: 10vh;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-self: center;
      margin-left: 9vw;
      width: 10vw;
      height: 5vh;
      background-color: $pricetag;
      opacity: 0.8;
      p{
        font-size: 2vw;
        color: $accentyellow;
      }
      .price-notation {
        font-size: 1vw;
      }
    }
    .item-location {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      img {
        width: 1vw;
        height: 2vh;
      }
    }
  }
}