@import 'variables';
@import 'mixins';

.item-metainfo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkgreen;
  height: 24vw;
  width: 25vw;
  border-radius: 5px;
  .inner-box{
    // @include topdownpaddingvar(3vh);
    padding: 1vw;
    background-color: $offwhite2;
    width: 80%;
    height: 80%;
    margin: 2vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    #meta-label {
      @include montserrat();
      font-size: 3vw;
      color: $formblack;
      font-weight: 600;
    }
    .meta-container{
      align-self: center;
      // @include topdownmarginvar(3vh);
      @include topdownpaddingvar(1vh);
      @include leftrightpaddingvar(1vw);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      background-color: $formblack;
      height: 5vh;
      width: min-content;
      p {
        @include overpass();
        font-size: 2.5vw;
        color: $offwhite2;
      }
      #price{
        font-weight: 600;
      }
      #stock {
        font-weight: 600;
      }
      #currency {
        font-size: 1vw;
        align-self: flex-start;
      }
      #unit {
        font-size: 1vw;
        align-self: flex-end;
      }
    }
  }
}