@import 'variables';
@import 'mixins';

.field{
  textarea {
    position: relative;
    bottom: 5vh;
    flex-grow: 1;
    padding: 1vh;
    text-align: left;
    resize: none;
    width: 23.5vw;
    height: 20vh;
    margin-bottom: 2vh;
    outline: none;
    justify-content: flex-start;
    font-size: 1vw;
    box-shadow: 0px 0px 15px 0px #8f948f;
    @include overpass();
  }
}

.send_message{
  position: relative;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkgreen;
    color: $offwhite1;
    height: 6vh;
    @include leftrightpaddingvar(3vw);
    border: none;
    font-size: 2.5vw;
    @include montserrat();
    border-radius: 100px;
  }
}

