@mixin librefranklin {
  font-family: 'Libre Franklin', sans-serif;
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin montserrat-alt {
  font-family: 'Montserrat Alternates', sans-serif;
}

@mixin overpass {
  font-family: 'Overpass', sans-serif;
}

@mixin underlinehover($color){
  box-shadow: 0px 2px 0px 0px $color;
  transition: box-shadow 1s;
}

@mixin leftrightmargin{
  margin-left: 20vw;
  margin-right: 20vw;
}

@mixin leftrightpaddingvar($var){
  padding-left: $var;
  padding-right: $var;
}

@mixin leftrightmarginvar($margin){
  margin-left: $margin;
  margin-right: $margin;
}

@mixin topdownmarginvar($margin){
  margin-top: $margin;
  margin-bottom: $margin;
}

@mixin topdownmargin{
  margin-top: 5vh;
  margin-bottom: 5vh;
}