// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';


.sub-body {
  @include leftrightmargin();
  display: flex;
  flex-direction: column;
  .item-highlight{
    display: flex;
    flex-direction: row;
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 22vw;
      width: 44vw;
      height: 55vh;
      z-index: 4;
      background-color: $formblack;
      border: solid;
      border-color: $primarygreen;
      border-width: 0.5em;
      img {
        object-fit: cover;
        height: inherit;
        // width: 100%;
        // height: inherit;
      }
    }
    .item-information-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 3;
      position: relative;
      top: 7.5vh;
      left: 15vw;
      height: 80vh;
      width: 35vw;
      background-color: $formblack;
      margin-bottom: 10vh;
      padding: 2em;
      .watchlist{
        position: relative;
        left: 9.5vw;
        bottom: 50vh;
        img {
          width: 3vw;
          height: 3vw;
        }
      }
      .information-box {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item-name{
          @include librefranklin;
          font-size: 3em;
          letter-spacing: 0.2vw;
          color: $accentyellow;
        }
        .item-location {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            @include librefranklin();
            font-style: italic;
            font-size: 2.5em;
            font-weight: lighter;
            color: $accentyellow;
          }
          img{
            position: relative;
            left: 0;
            width: 5em;
            height: 5.5em;
          }
        }
        .item-description {
          @include overpass();
          height: 15vh;
          font-size: 2.2em;
          color: $offwhite1;
          line-height: 1.3em;
        }
      }
    }
  }
}

#item-grid {
  margin-top: 10vh;
  width: 60vw;
  height: 70vh;
  @include leftrightmargin();
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40% 40%;
  .item {
    border-radius: 5px;
    height: 25vh;
    width: 18vw;
    margin: 1vw;
    background-color: $offwhite2;
    &:hover{
      transform: scale(1.1);
      transition: all 0.5s;
    }
    p {
      @include overpass();
      margin-top: 1vh;
      margin-left: 0.3vw;
      margin-right: 0.3vw;
      color: $formblack;
      font-size: 22px;
    }
    .item-image {
      display: flex;
      flex-direction: row;
      a{
        position: relative;
        height: 100%;
        width: 100%;
        background-color: $offwhite1;
        &:visited{
          background-color: $offwhite1;
        }
      }
      img {
        width: 100%;
        height: 60%;
      }
      .item-price{
        position: absolute;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-left: 9vw;
        width: 10vw;
        height: 40px;
        background-color: $pricetag;
        opacity: 0.8;
        p{
          font-size: 36px;
          color: $accentyellow;
        }
        .price-notation {
          font-size: 24px;
        }
      }
    }
    .item-location {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
      img {
        width: 19px;
        height: 23px;
      }
    }
  }
}
