// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

.background-section1{
  position: relative;
  bottom: 0;
  padding-top: 5vh;
  background-color: $offwhite1;
  height: fit-content;
  display: inline-block;
}

.sub-body {
  @include leftrightmargin();
  display: flex;
  flex-direction: column;
  .item-highlight{
    display: flex;
    flex-direction: row;
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 22vw;
      width: 44vw;
      height: 55vh;
      z-index: 4;
      background-color: $formblack;
      img {
        object-fit: cover;
        height: inherit;
        width: inherit;
        border-radius: 3px;
      }
    }
    .item-information-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 3;
      position: relative;
      top: 7.5vh;
      left: 15vw;
      height: 80vh;
      width: 35vw;
      background-color: $formblack;
      margin-bottom: 10vh;
      padding: 2vw;
      border-radius: 3px;
      .watchlist{
        position: relative;
        left: 9.5vw;
        bottom: 50vh;
        img {
          width: 3vw;
          height: 3vw;
        }
      }
      .information-box {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        a {
          align-self: flex-end;
          width: max-content;
          @include montserrat();
          font-size: 1.5vw;
          color: $offwhite1;
          text-decoration: none;
          &:hover{
            background-color: $formblack;
            color: $accentyellow;
            transition: all 0.5s;
          }
        }
        .item-name{
          @include montserrat;
          font-size: 2vw;
          font-weight: 600;
          letter-spacing: 0.2vw;
          color: $accentyellow;
        }
        .item-location {
          margin-top: 3vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            @include librefranklin();
            font-style: italic;
            font-size: 1vw;
            font-weight: lighter;
            color: $accentyellow;
          }
          img{
            position: relative;
            left: 0;
            width: 2.5vw;
            height: 3vw;
          }
        }
        .item-description {
          @include overpass();
          margin-top: 2vh;
          height: 15vh;
          font-size: 1vw;
            color: $offwhite1;
          line-height: 1.3em;
        }
      }
    }
  }
}

