// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  overflow-x: hidden;
}
.welcome {
  height: 260vh;
  width: 100vw;
  .booke-image {
    background-position-y: 70%;
    background-image: url("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/avocado-close-up-eating-healthy-1656666.jpg");
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #searchbar-container {
      position: relative;
      background-color: $formblack;
      left: 0;
      opacity: 0.30;
      height: 12vh;
      width: 65vw;
      border-radius: 5px;
    }
    #searchbar {
      background-color: $offwhite1;
      width: 60vw;
      form {
        display: flex;
        flex-direction: flex-end;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        z-index: 9;
        height: 8vh;
        input {
          @include leftrightpaddingvar(0.5vw);
          @include overpass();
          font-size: 1vw;
          position: relative;
          height: 100%;
          width: 15vw;
          border: none;
          box-shadow: inset 0px 0px 0px 0.1vw $primarygreen;
          background-color: #E9E9E9;
          word-wrap: break-word;
          &:hover {
            background-color: $offwhite1;
            transition: all 0.5s;
          }
        }
        button {
          width: 5vw;
          height: 100%;
          background-color: $primarygreen;
          border: none;
          z-index: 9;
          img {
            width: 4vw;
            height: 8vh;
          }
          &:hover {
            background-color: $darkgreen;
            transition: all 0.5s;
          }
        }
        select {
          @include overpass();
          @include leftrightpaddingvar(1vw);
          box-shadow: inset 0px 0px 0px 0.1vw $primarygreen;
          z-index: 9;
          border-radius: 0;
          width: 15vw;
          height: 8vh;
          font-size: 1vw;
          background-color: $primarygreen;
          color: $offwhite1;
          font-weight: 500;
          appearance: none;
          &:hover{
            background-color: $offwhite1;
            color: $darkgreen;
            transition: all 0.25s;
          }
        }
      }
      #item_name {
        width: 25vw;
        box-shadow: none;
      }
    }
  }

  #featured-items {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: $offwhite1;
    #filter-list {
      @include leftrightmargin();
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 60vw;
      list-style: none;
      li {
        margin-top: 5vh;
        @include montserrat();
        font-size: 2vw;
        a{
          color: $formblack;
          text-decoration: none;
          &:hover {
            background-color: $offwhite1;
            @include underlinehover($primarygreen);
          }
        }
      }
    }
  }

  #featured-categories {
    position: relative;
    padding-top: 10vh;
    height: 110vh;
    @include leftrightmargin();
    p {
      @include montserrat;
      display: flex;
      justify-content: center;
      letter-spacing: 1vw;
      color: $formblack;
      font-size: 4vw;
      font-weight: 600;
      margin-bottom: 3vh;
    }
    #categories-grid{
      padding-top: 5vh;
      padding-left: 2vw;
      padding-right: 2vw;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 45vh 45vh;
      grid-row-gap: 3vh;
      .category {
        margin: 2vh;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include montserrat-alt();
        color: $offwhite1;
        a {
          height: 100%;
          width: 100%;
          text-decoration: none;
          &:hover{
            background-color: white;
            transform: scale(1.1);
            transition: all 0.5s;
          }
        }
        p {
          padding: 1vh;
          letter-spacing: 0;
          font-size: 3vw;
          display: flex;
          justify-content: flex-start;
          line-height: 3vw;
          color: $offwhite2;
          text-shadow: 2px 2px rgb(141, 141, 141);
        }
        img {
          position: absolute;
          height: 41vh;
          width: 16vw;
          object-fit: cover;
          opacity: 0.7;
          z-index: -1;
        }
      }
    }
  }
}