body {
  margin: 0;
  overflow-x: hidden;
}

.welcome {
  height: 260vh;
  width: 100vw;
}

.welcome .booke-image {
  background-position-y: 70%;
  background-image: url("https://home-grown-local-chris-suki-selly-rails.s3-ap-southeast-2.amazonaws.com/avocado-close-up-eating-healthy-1656666.jpg");
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .booke-image #searchbar-container {
  position: relative;
  background-color: #3D403D;
  left: 0;
  opacity: 0.30;
  height: 12vh;
  width: 65vw;
  border-radius: 5px;
}

.welcome .booke-image #searchbar {
  background-color: #F5F5F5;
  width: 60vw;
}

.welcome .booke-image #searchbar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  z-index: 9;
  height: 8vh;
}

.welcome .booke-image #searchbar form input {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-family: 'Overpass', sans-serif;
  font-size: 1vw;
  position: relative;
  height: 100%;
  width: 15vw;
  border: none;
  -webkit-box-shadow: inset 0px 0px 0px 0.1vw #70C887;
          box-shadow: inset 0px 0px 0px 0.1vw #70C887;
  background-color: #E9E9E9;
  word-wrap: break-word;
}

.welcome .booke-image #searchbar form input:hover {
  background-color: #F5F5F5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.welcome .booke-image #searchbar form button {
  width: 5vw;
  height: 100%;
  background-color: #70C887;
  border: none;
  z-index: 9;
}

.welcome .booke-image #searchbar form button img {
  width: 4vw;
  height: 8vh;
}

.welcome .booke-image #searchbar form button:hover {
  background-color: #12A068;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.welcome .booke-image #searchbar form select {
  font-family: 'Overpass', sans-serif;
  padding-left: 1vw;
  padding-right: 1vw;
  -webkit-box-shadow: inset 0px 0px 0px 0.1vw #70C887;
          box-shadow: inset 0px 0px 0px 0.1vw #70C887;
  z-index: 9;
  border-radius: 0;
  width: 15vw;
  height: 8vh;
  font-size: 1vw;
  background-color: #70C887;
  color: #F5F5F5;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.welcome .booke-image #searchbar form select:hover {
  background-color: #F5F5F5;
  color: #12A068;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.welcome .booke-image #searchbar #item_name {
  width: 25vw;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.welcome #featured-items {
  position: relative;
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F5F5;
}

.welcome #featured-items #filter-list {
  margin-left: 20vw;
  margin-right: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60vw;
  list-style: none;
}

.welcome #featured-items #filter-list li {
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
}

.welcome #featured-items #filter-list li a {
  color: #3D403D;
  text-decoration: none;
}

.welcome #featured-items #filter-list li a:hover {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 1px 0px 0px #70C887;
          box-shadow: 0px 1px 0px 0px #70C887;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.welcome #featured-categories {
  position: relative;
  padding-top: 10vh;
  height: 110vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.welcome #featured-categories p {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1vw;
  color: #3D403D;
  font-size: 4vw;
  font-weight: 600;
  margin-bottom: 3vh;
}

.welcome #featured-categories #categories-grid {
  padding-top: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 45vh 45vh;
      grid-template-rows: 45vh 45vh;
  grid-row-gap: 3vh;
}

.welcome #featured-categories #categories-grid .category {
  margin: 2vh;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #F5F5F5;
}

.welcome #featured-categories #categories-grid .category a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.welcome #featured-categories #categories-grid .category a:hover {
  background-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.welcome #featured-categories #categories-grid .category p {
  padding: 1vh;
  letter-spacing: 0;
  font-size: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 3vw;
  color: #FBFBFB;
  text-shadow: 2px 2px #8d8d8d;
}

.welcome #featured-categories #categories-grid .category img {
  position: absolute;
  height: 41vh;
  width: 16vw;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  z-index: -1;
}
/*# sourceMappingURL=welcome.css.map */