body {
  margin: 0;
}

.welcome {
  height: 70vh;
  width: 100vw;
}

.welcome .booke-image {
  background-position-y: 70%;
  background-image: url("brusselspout");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .booke-image #searchbar {
  background-color: #F5F5F5;
  width: 60vw;
  height: 8vh;
  border-radius: 5px;
}

.welcome .booke-image #searchbar #search-container {
  position: relative;
  bottom: 2vh;
  right: 2.5vw;
  background-color: #F5F5F5;
  opacity: 0.15;
  height: 12vh;
  width: 65vw;
  border-radius: 5px;
}

.welcome #featured-items {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F5F5;
}

.welcome #featured-items #filter-list {
  margin-left: 20vw;
  margin-right: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60vw;
  list-style: none;
}

.welcome #featured-items #filter-list li {
  margin-top: 5vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

.welcome #featured-items #filter-list li a {
  color: #70C887;
  text-decoration: none;
}

.welcome #featured-items #filter-list li a:hover {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 2px 0px 0px #70C887;
          box-shadow: 0px 2px 0px 0px #70C887;
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s;
}

.welcome #featured-items #item-grid {
  margin-top: 5vh;
  width: 60vw;
  height: 70vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 40% 40%;
      grid-template-rows: 40% 40%;
}

.welcome #featured-items #item-grid .item {
  border-radius: 5px;
  height: 25vh;
  width: 18vw;
  margin: 1vw;
  background-color: #FBFBFB;
}

.welcome #featured-items #item-grid .item p {
  font-family: 'Overpass', sans-serif;
  margin-top: 1vh;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  color: #70C887;
  font-size: 22px;
}

.welcome #featured-items #item-grid .item .item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.welcome #featured-items #item-grid .item .item-image img {
  width: 100%;
  height: 60%;
}

.welcome #featured-items #item-grid .item .item-image .item-price {
  position: absolute;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 9vw;
  width: 10vw;
  height: 40px;
  background-color: #1F1F1F;
  opacity: 0.5;
}

.welcome #featured-items #item-grid .item .item-image .item-price p {
  font-size: 36px;
  color: #E4FB8B;
}

.welcome #featured-items #item-grid .item .item-image .item-price .price-notation {
  font-size: 24px;
}

.welcome #featured-items #item-grid .item .item-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome #featured-items #item-grid .item .item-location img {
  width: 19px;
  height: 23px;
}
/*# sourceMappingURL=welcome.css.map */